<div class="row">
    <div class="col-sm-8">
        <form>
        <h3 class="searchBysubreddit_cat" color="BlueViolet">Search by Category of subreddit:</h3>
        <mat-form-field><input class="form-control" color="primary" matInput #title1 type="text" placeholder="Subreddit Category" [(ngModel)]="searchCriteria" [ngModelOptions]="{standalone: true}"/></mat-form-field>
        <button mat-raised-button color="primary" class="searchbutton" (click)="getPostssub()">Go</button>
        <!-- <button mat-raised-button color="primary" class="btn btn-default" (click)="clearSearch()">Clear</button> -->
    </form>        
    </div>
</div>

<!-- <div class="">
    <div class="row" *ngFor="let post of posts" (click)="setEditPost(post)">
        <div class=""><h2><a href="" color="accent">
            {{post.user_name}}</a></h2>
        </div><br>
        <div class=""><p color="accent">
            {{post.title}}</p>
        </div><br>
        <div class=""><p color="accent">
            {{post.text}}</p>
        </div><br>
        <div class=""><p color="accent">
            {{post.total_votes}}</p>
        </div><br>
        <div class=""><p color="accent">
            {{post.subreddit_cat}}</p>
        </div><br>
        <div >
            <button  mat-raised-button color="primary" class="checkdelete" >Upvote</button>
            <button  mat-raised-button color="primary" class="checkdelete" >Downvote</button>
            <button  mat-raised-button color="primary" class="checkdelete" (click)="deletePost(post)">Delete</button>
        </div><br>
    </div>
</div> -->

<mat-card *ngFor="let post of posts" (click)="setEditPost(post)">
        <mat-card-header>
        <!-- <div mat-card-avatar>{{post.user_name}}</div> -->
        <mat-card-title color="accent"><h3>{{post.title}}</h3></mat-card-title>
        <mat-card-subtitle> by {{post.user_name}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content> {{post.text}} </mat-card-content>
        <mat-card-content> {{post.total_votes}} </mat-card-content>
        <mat-card-actions>  
                <button mat-button color="primary" class="checkupvote" (click)="upvote(post)" >Upvote</button>
                <button mat-button color="primary" class="checkdownvote" (click)="downvote()" >Downvote</button>
                <button mat-button color="primary" class="checkdelete" (click)="deletePost(post)">Delete</button>
                <button mat-button color="primary" class="checkcomment">Comment</button>
         </mat-card-actions>
        
</mat-card>

<!-- <div class="row" *ngFor="let post of posts" (click)="getPostssub()">
    <div class=""><h2><a href="" color="accent">
        {{post.title}}</a></h2>
    </div><br>
    <div class=""><p color="accent">
        {{post.text}}</p>
    </div><br>
    <div class=""><p color="accent">
        {{post.subreddit}}</p>
    </div><br>
</div>
<div>
<button (click)="goBack()">go back</button>
</div> -->
<!-- <h1>prachi </h1> -->