<div class="row">
    <div class="col-sm-8">
        <form>
        <h3 class="searchBysubreddit_cat" color="BlueViolet">Search by Category of subreddit:</h3>
        <mat-form-field><input class="form-control" color="primary" matInput #title1 type="text" placeholder="Subreddit Category" [(ngModel)]="searchCriteria" [ngModelOptions]="{standalone: true}"/></mat-form-field>
        <button mat-raised-button color="primary" class="searchbutton" (click)="getPostssub()">Go</button>
        <!-- <button mat-raised-button color="primary" class="btn btn-default" (click)="clearSearch()">Clear</button> -->
    </form>        
    </div>
</div>

<!-- <div class="">
    <div class="row" *ngFor="let post of posts" (click)="setEditPost(post)">
        <div class=""><h2><a href="" color="accent">
            {{post.user_name}}</a></h2>
        </div><br>
        <div class=""><p color="accent">
            {{post.title}}</p>
        </div><br>
        <div class=""><p color="accent">
            {{post.text}}</p>
        </div><br>
        <div class=""><p color="accent">
            {{post.total_votes}}</p>
        </div><br>
        <div class=""><p color="accent">
            {{post.subreddit_cat}}</p>
        </div><br>
        <div >
            <button  mat-raised-button color="primary" class="checkdelete" >Upvote</button>
            <button  mat-raised-button color="primary" class="checkdelete" >Downvote</button>
            <button  mat-raised-button color="primary" class="checkdelete" (click)="deletePost(post)">Delete</button>
        </div><br>
    </div>
</div> -->

<!-- <mat-card *ngFor="let post of posts" (click)="setEditPost(post)">
        <mat-card-header>
       
        <mat-card-title color="accent"><h3>{{post.title}}</h3></mat-card-title>
       
        </mat-card-header>

        <mat-card-content> {{post.text}} </mat-card-content>
        <mat-card-content> {{post.total_votes}} </mat-card-content>
        <mat-card-actions>  
                <button mat-button color="primary" class="checkdelete" >Upvote</button>
                <button mat-button color="primary" class="checkdelete" >Downvote</button>
                <button mat-button color="primary" class="checkdelete" (click)="deletePost(post)">Delete</button>
                <button mat-button color="primary" class="checkdelete" routerLink="/comments/{{post._id}}" >Comment</button>
         </mat-card-actions>
        
</mat-card> -->

<!-- <div class="row" *ngFor="let post of posts" (click)="getPostssub()">
    <div class=""><h2><a href="" color="accent">
        {{post.title}}</a></h2>
    </div><br>
    <div class=""><p color="accent">
        {{post.text}}</p>
    </div><br>
    <div class=""><p color="accent">
        {{post.subreddit}}</p>
    </div><br>
</div>
<div>
<button (click)="goBack()">go back</button>
</div> -->
<!-- <h1>prachi </h1> -->

<mat-grid-list cols="3">
    <mat-grid-tile colspan="1" color = "lightblue" class="row" *ngFor="let post of posts" (click)="setEditPost(post)">
            <mat-card class="example-card" style="width:400px">
                    <mat-card-header>
                    <div mat-card-avatar></div>
                    <mat-card-title style="word-wrap: break-word">{{post.title}}</mat-card-title>
                    <mat-card-subtitle>{{post.text}}</mat-card-subtitle>
                    <mat-card-subtitle>{{post.votes}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image height="300px" [src]="post.imageurl" alt="Photo of a Chapati">
                <mat-card-content>
                        <p>
                                {{post.subreddit}} 
                        </p>
                        <!-- <p>{{post.comments}}</p> -->
                      </mat-card-content>
                      <mat-card-actions>
                        <button mat-button color="accent" class="upVote" (click)="upVote(post)"><mat-icon>thumb_up</mat-icon></button>
                        <button mat-button color="accent" class="downVote" (click)="downVote(post)"><mat-icon>thumb_down</mat-icon></button>
                        <!-- <mat-form-field><input class="comments" matInput #comments type="text" placeholder="comments" [(ngModel)]="post.comments" [ngModelOptions]="{standalone: true}"/></mat-form-field><br> -->
                        <button mat-button color="accent" class="comments" routerLink="/comments/{{post._id}}"><mat-icon>comment</mat-icon></button>
                        <button mat-button color="accent" class="checkdelete" (click)="deletePost(post)"><mat-icon>delete</mat-icon></button>
                      </mat-card-actions>
                    </mat-card>
   </mat-grid-tile></mat-grid-list>