
<mat-sidenav-container fullscreen height="100%" class="example-container">
    <mat-sidenav mode="over" #sidenav class="example-sidenav">
      <button mat-button color="primary" class="all" routerLink="/subreddit/All" >All Posts</button><br>
      <button mat-button color="accent" class="random" routerLink="/subreddit/Random">Random</button><br>
      <button mat-button color="primary" class="science" routerLink="/subreddit/Science">Science</button><br>
      <button mat-button color="accent" class="Funny" routerLink="/subreddit/Funny">Funny</button><br>
      <button mat-button color="primary" class="math" routerLink="/subreddit/Math">Math</button><br>
      <button mat-button color="primary" class="popular">Popular</button><br>
      <!-- <button color="accent"><a url="https://www.google.com">Random</a></button><br> -->
      <button mat-button color="accent" class="users">Users</button><br>
      <!-- <button color="primary">Wiki</button><br> -->
    </mat-sidenav>
    <div class="example-sidenav-content">
      <button mat-mini-fab class="example-fab" (click)="sidenav.open()">
        <mat-icon>nav</mat-icon>
      </button>
      </div>
    <div style="text-align:center">
        <h1>
          Welcome to {{title}}!
        </h1>
        <img width="300" src="https://store-images.microsoft.com/image/apps.41241.9007199266531616.d6aea9fa-72ae-43a6-8a56-acf6eabee527.50e41d98-a684-4998-a67e-00afa98b0344?w=180&h=180&q=60">
      </div>
      <div>
        <!-- <posts></posts> -->
        <router-outlet></router-outlet>
      </div>
      <div>
          <!-- <subredditposts></subredditposts> -->
      </div>

      
</mat-sidenav-container>
