<div class="row">
    <div class="col-sm-8">
        <form>
        <h3 class="searchBytitle" color="BlueViolet">Search by name:</h3>
        <mat-form-field><input class="form-control" style="width:100%" color="primary" matInput #title1 type="text" placeholder="name" [(ngModel)]="searchCriteria" [ngModelOptions]="{standalone: true}"/></mat-form-field>
        <button mat-raised-button color="primary" class="searchbutton" (click)="getPosts()">Search</button>
        <button mat-raised-button color="primary" class="btn btn-default" (click)="clearSearch()">Clear</button>
    </form>        
    </div>
</div>
<div class="row">
    <div>
        <label for="insertPost" color="primary">Insert Post:</label>
        <mat-form-field><input class="titledisp" matInput #titledisp type="text" placeholder="title" [(ngModel)]="this.newPost.title" [ngModelOptions]="{standalone: true}"/></mat-form-field>
        <mat-form-field><input class="textdisp" matInput #textdisp type="text" placeholder="text" [(ngModel)]="this.newPost.text" [ngModelOptions]="{standalone: true}"/></mat-form-field>
        <mat-form-field><input class="subredditdisp" matInput #subredditdisp type="text" placeholder="subreddit" [(ngModel)]="this.newPost.subreddit" [ngModelOptions]="{standalone: true}"/></mat-form-field>
        <button mat-raised-button color="primary" class="checkinsert" (click)="insertPost()"> Insert Post </button>
    </div>
    <!-- <div class="form-group col-sm-2">
        <label for="editPost">Edit Post:</label>
        <input class="form-control" type="text" placeholder="title" [(ngModel)]="this.editPost.title" [ngModelOptions]="{standalone: true}"/>
        <input class="form-control" type="text" placeholder="text" [(ngModel)]="this.editPost.text" [ngModelOptions]="{standalone: true}"/>
        <input class="form-control" type="text" placeholder="subreddit" [(ngModel)]="this.editPost.subreddit" [ngModelOptions]="{standalone: true}"/>
        <button class="btn btn-default" (click)="updatePost()"> Edit Post </button>
    </div> -->
    
    <div class="">
        <!-- <div class="row">
                <div class="col-sm-2">
                    <label for="title">title</label>
                </div>
                <div class="col-sm-2">
                    <label for="text">text</label>
                </div>
                <div class="col-sm-2">
                    <label for="subreddit">subreddit</label>
                </div>
        </div> -->
        <!-- <m -->
                <!-- <mat-grid-list cols="4" rowHeight="100px">
                        <mat-grid-tile
                            *ngFor="let tile of tiles"
                            [colspan]="tile.cols"
                            [rowspan]="tile.rows"
                            [style.background]="tile.color">
                          {{tile.text}}
                        </mat-grid-tile> -->
                      
                      <mat-grid-list cols="4" rowHeight="2:1">
        <mat-grid-tile colspan="2" color = "lightblue" class="row" *ngFor="let post of posts" (click)="setEditPost(post)">
                <mat-card class="example-card">
                        <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>{{post.title}}</mat-card-title>
                        <mat-card-subtitle>{{post.text}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                            <p>
                                    {{post.subreddit}}
                            </p>
                          </mat-card-content>
                          <mat-card-actions>
                            <button mat-button color="accent"><mat-icon>favorite</mat-icon></button>
                            <button mat-button color="accent"><mat-icon>favorite</mat-icon></button>
                            <button mat-button color="accent" class="checkdelete" (click)="deletePost(post)"><mat-icon>delete</mat-icon></button>
                          </mat-card-actions>
                        </mat-card>
       </mat-grid-tile></mat-grid-list>
    <div>
</div>

