<div class="row">
        
            <mat-grid-list cols="2">
                    
                   <mat-grid-tile colspan="1" rowspan="1"> 

                 <!-- <div> -->
                        
                     <mat-list>
                        
                            <!-- <mat-accordion>
                                    <mat-expansion-panel>
                                      <mat-expansion-panel-header>
                                        <mat-panel-title>
                                          Insert Post
                                        </mat-panel-title>
                                        <mat-panel-description>
                                          Type the title text and SubReddit
                                        </mat-panel-description>
                                      </mat-expansion-panel-header> -->
                     <h1>Insert Post:</h1><br>
                    <mat-form-field><input class="titledisp" matInput #titledisp type="text" placeholder="title" [(ngModel)]="this.newPost.title" [ngModelOptions]="{standalone: true}"/></mat-form-field><br>
                    <mat-form-field><input class="textdisp" matInput #textdisp type="text" placeholder="text" [(ngModel)]="this.newPost.text" [ngModelOptions]="{standalone: true}"/></mat-form-field><br>
                    <mat-form-field><input class="subredditdisp" matInput #subredditdisp type="text" placeholder="subreddit" [(ngModel)]="this.newPost.subreddit" [ngModelOptions]="{standalone: true}"/></mat-form-field><br>
                    <mat-form-field><input class="imagedisp" matInput #subredditdisp type="text" placeholder="image" [(ngModel)]="this.newPost.imageurl" [ngModelOptions]="{standalone: true}"/></mat-form-field><br>
                    <button mat-raised-button color="primary" class="checkinsert" (click)="insertPost()"> Insert Post </button>
                <!-- </div> -->
            <!-- </mat-expansion-panel>
        </mat-accordion>
    </mat-list-item> -->
            </mat-list>
        
            </mat-grid-tile>
           
        
            <mat-grid-tile colspan="1" rowspan="1"> 
                            <form>
        
                <!-- <mat-grid-list cols="3"> -->
                        
    <mat-form-field><input class="form-control" color="primary" matInput #title1 type="text" placeholder="Search By Name" [(ngModel)]="searchCriteria" [ngModelOptions]="{standalone: true}"/></mat-form-field><br>
    <button mat-raised-button color="primary" class="searchbutton" (click)="getPosts()">Search</button>
        <button mat-raised-button color="primary" class="btn btn-default" (click)="clearSearch()">Clear</button><br>
    </form>
</mat-grid-tile>         
</mat-grid-list>
     
</div>
<div class="row">
 
    <!-- <div class="form-group col-sm-2">
        <label for="editPost">Edit Post:</label>
        <input class="form-control" type="text" placeholder="title" [(ngModel)]="this.editPost.title" [ngModelOptions]="{standalone: true}"/>
        <input class="form-control" type="text" placeholder="text" [(ngModel)]="this.editPost.text" [ngModelOptions]="{standalone: true}"/>
        <input class="form-control" type="text" placeholder="subreddit" [(ngModel)]="this.editPost.subreddit" [ngModelOptions]="{standalone: true}"/>
        <button class="btn btn-default" (click)="updatePost()"> Edit Post </button>
    </div> -->
    
    <div class="">
        <!-- <div class="row">
                <div class="col-sm-2">
                    <label for="title">title</label>
                </div>
                <div class="col-sm-2">
                    <label for="text">text</label>
                </div>
                <div class="col-sm-2">
                    <label for="subreddit">subreddit</label>
                </div>
        </div> -->
        <!-- <m -->
                <!-- <mat-grid-list cols="4" rowHeight="100px">
                        <mat-grid-tile
                            *ngFor="let tile of tiles"
                            [colspan]="tile.cols"
                            [rowspan]="tile.rows"
                            [style.background]="tile.color">
                          {{tile.text}}
                        </mat-grid-tile> -->
                      
                      <!-- </mat-grid-list> rowHeight="2:1"> -->
                      <mat-grid-list cols="4">
        <mat-grid-tile colspan="1" color = "lightblue" class="row" *ngFor="let post of posts" (click)="setEditPost(post)">
                <mat-card class="example-card" style="width:400px">
                        <mat-card-header>
                        <div mat-card-avatar></div>
                        <mat-card-title style="word-wrap: break-word">{{post.title}}</mat-card-title>
                        <mat-card-subtitle>{{post.text}}</mat-card-subtitle>
                        <mat-card-subtitle>{{post.votes}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image height="270px" [src]="post.imageurl" alt="Photo of a Chapati">
                    <mat-card-content>
                            <p>
                                    {{post.subreddit}} 
                            </p>
                            <!-- <p>{{post.comments}}</p> -->
                          </mat-card-content>
                          <mat-card-actions>
                            <button mat-button color="accent" class="upVote" (click)="upVote(post)"><mat-icon>thumb_up</mat-icon></button>
                            <button mat-button color="accent" class="downVote" (click)="downVote(post)"><mat-icon>thumb_down</mat-icon></button>
                            <mat-form-field><input class="comments" matInput #comments type="text" placeholder="comments" [(ngModel)]="post.comments" [ngModelOptions]="{standalone: true}"/></mat-form-field><br>
                            <button mat-button color="accent" class="comments" routerLink="/comments/{{post._id}}"><mat-icon>comment</mat-icon></button>
                            <button mat-button color="accent" class="checkdelete" (click)="deletePost(post)"><mat-icon>delete</mat-icon></button>
                          </mat-card-actions>
                        </mat-card>
       </mat-grid-tile></mat-grid-list>
    <div>
</div>

