<form>
  <md-form-field>
  <input mdInput #title1 placeholder="Title"></md-form-field><br>
  <md-form-field><input mdInput #text placeholder="Text"></md-form-field><br>
  <md-form-field><input mdInput #subreddit placeholder="SubReddit"></md-form-field><br>
  </form>
  <button md-raised-button color="primary" (click)="onSelect(title1.value,text.value,subreddit.value)">CreatePost</button>
  <md-nav-list><md-list-item *ngFor="let post of posts"><h3><a href=""> {{post.title1}} </a></h3>
  <p mdLine>
    <span> {{post.text}} </span><br>
    <span class="demo-2">{{post.subreddit}} </span>
  </p></md-list-item></md-nav-list>
  <!-- basic form -->