<mat-card>
<form>
<mat-form-field>
<input matInput #title1 placeholder="Title"></mat-form-field><br>
<mat-form-field><input matInput #text placeholder="Text"></mat-form-field><br>
<mat-form-field><input matInput #subreddit placeholder="SubReddit"></mat-form-field><br>

</form>
<button mat-raised-button color="primary" (click)="onSelect(title1.value,text.value,subreddit.value)">CreatePost</button>
<mat-nav-list><mat-list-item *ngFor="let post of items | async"><h3><a href="" color="accent"> {{post.Title}} </a></h3>
<p matLine>
  <span> {{post.Text}} </span><br>
  <span class="demo-2">{{post.SubReddit}} </span>
</p></mat-list-item></mat-nav-list></mat-card>
  <!-- basic form -->