
  <mat-grid-list  cols = "1" rowHeight="200px">
        <mat-grid-tile>
<form (submit)="loginUser($event)" > 
        <div layout="row"  layout-align="center center">
    <div><mat-form-field class="example-full-width">
        <input matInput class="login" placeholder="Username" name="signinusername" [(ngModel)]="signinUser.username">
    </mat-form-field><br></div>
    <div> <mat-form-field class="example-full-width">
        <input matInput type ="password" class="pwd"  placeholder="Password" name="signinpassword" [(ngModel)]="signinUser.password">
    </mat-form-field></div>
    <div class="input">    
      <button matbutton color ="primary" class="submit" id=signinbtn type ="submit" mat-raised-button>Sign In</button>   
      <button matbutton color ="primary" id=signupbtn routerLink="/registeruser" mat-raised-button>Sign Up</button>
    </div>
</div>
  </form>
</mat-grid-tile>
</mat-grid-list> 
