<form (submit)="loginUser($event)" style="float:center"> 
    <mat-form-field class="example-full-width">
        <input matInput class="login" placeholder="Username" name="signinusername" [(ngModel)]="signinUser.username">
    </mat-form-field><br>
    <mat-form-field class="example-full-width">
        <input matInput type ="password" class="pwd"  placeholder="Password" name="signinpassword" [(ngModel)]="signinUser.password">
    </mat-form-field>
    <div class="input">    
      <button matbutton color ="primary" class="submit" id=signinbtn type ="submit" mat-raised-button>Sign In</button>   
      <!-- <button color ="primary" id=signupbtn routerLink="/regis-form" md-raised-button>Sign Up</button> -->
    </div>
  </form>